/* CABECALHO */
.cabecalho{
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #13c7ae;
}
.logo a{
    width: 221px;
    height: 48px;
    float: left;
    background: url(../../assets/logo.png) no-repeat;
    font-size: 0;
}
.cabecalho form{
    width: 30%;
    float: right;
}
.cabecalho input[type="search"]{
    width: 85%;
    padding: 15px 10px;
    border-radius: 8px 0 0 8px;
}
.cabecalho button{
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #0cae98;
    color: #fff;
    border-radius: 0px 8px 8px 0;
    cursor: pointer;
}
