/* HOME */
.menu{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}
.menu li{
    float: left;
}
.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}
.menu li a:hover{
    color: #fff;
}

/* SOCIAL-ICONS */
.social-icons{
    float: right;
}
.social-icons a{
    color: #fff;
    margin-left: 14px;
}
.fa-facebook:hover{
    color: blue;
}
.fa-x-twitter:hover{
    color: #665353;
}
.fa-google:hover{
    color: #db4437;
}